$accentColor = #48B381
$textColor = #FAFBFC
$borderColor = #3b0944
$codeBgColor = #190B28

html, body , .navbar, .sidebar {
  background-color: #332E3C;
}

.theme-container .navbar,
.theme-container .sidebar,
.theme-container .links,{
  background-color: #332E3C;
}

.theme-container .search-box input,
.theme-container .search-box .suggestion a {
  color: #332E3C;
}

.theme-container .content code {
  background-color: #332E3C;
}